In [1]:
import pandas as pd

In [3]:
pd.read_excel("missUniWor.xlsx")

,Year,Country,Titleholder,Age,Hometown,National Title,Date,Entrants
0,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1952,Finland,Armi Kuusela,17.0,Muhos,Suomen Neito 1952,"June 28, 1952",30.0
2,1953,France,Christiane Martel,17.0,Créteil,Miss Cinémonde 1953,"July 17, 1953",26.0
3,1954,United States,Miriam Stevenson,21.0,Winnsboro,Miss USA 1954,"July 24, 1954",33.0
4,1955,Sweden,Hillevi Rombin,21.0,Alfta,Miss Sweden 1955,"July 22, 1955",33.0
...,...,...,...,...,...,...,...,...
67,2017,South Africa,Demi-Leigh,22.0,Sedgefield,Miss South Africa 2017,"November 26, 2017",92.0
68,2018,Philippines,Catriona Gray,24.0,Oas,Miss Universe Philippines 2018,"December 17, 2018",94.0
69,2019,South Africa,Zozibini Tunzi,26.0,Tsolo,Miss South Africa 2019,"December 8, 2019",90.0
70,2020,Mexico,Andrea Meza,26.0,Chihuahua City,Mexicana Universal 2020,"May 16, 2021",74.0
71,2021,India,Harnaaz Sandhu,21.0,Chandigarh,Miss Diva Universe 2021,"December 13, 2021",80.0